<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> Estadísticas </title>
    </head>
        <body>
            <h1>Melp</h1>
            <form action="/restaurants/statistics" method="GET">
                <label for="latitude">Latitud:</label>
                <input type="text" id="latitude" name="latitude"/>
                <br />
                <label for="longitude">Longitud:</label>
                <input type="text" id="longitude" name="longitude"/>
                <br />
                <label for="radius">Radio:</label>
                <input type="text" id="radius" name="radius"/>
                <br />
                <input type="submit" value="Mandar parámetros" />
            </form>
        </body>
</html>